/* entery模块制作 */
.entery {
height: 500px;
background-color: #F5F5F5;
}
.entery .wrapper {
position: relative;
width: 1240px;
margin: 0 auto;
height: 100%;
}
.entery .wrapper .subnav {
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 250px;
height: 500px;
background: rgba(0,0,0,.42);
}
.entery .wrapper .subnav li {
display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
color: #FFFFFF;
padding: 0 12px 0 29px;
}
.entery .wrapper .subnav li a {
color: #FFFFFF;
font-size: 14px;
margin-right:14px;
}
.entery .wrapper .subnav li a:first-child {
font-size: 16px;
}
.entery .wrapper .subnav li:hover {
background-color: #00BE9A;
}
.entery .wrapper .pic {
position: relative;
}
.entery .wrapper .pic .prev {
width: 40px;
height: 60px;
margin-top: -30px;
position: absolute;
left: 250px;
bottom: 50%;
}
.entery .wrapper .pic .prev:hover {
background-color: #00BE9A;
}
.entery .wrapper .pic .prev i {
text-align: center;
line-height: 60px;
color: #fff;
font-size: 35px;
}
.entery .wrapper .pic .next {
width: 40px;
height: 60px;
margin-top: -30px;
position: absolute;
right: 0px;
bottom: 50%;
}
.entery .wrapper .pic .next:hover {
background-color: #00BE9A;
}
.entery .wrapper .pic .next i {
text-align: center;
line-height: 60px;
color: #fff;
font-size: 35px;
}
.entery .wrapper .pic ol {
display: flex;
position: absolute;
bottom: 10px;
right: 10px;
}
.entery .wrapper .pic ol li {
width: 14px;
height: 14px;
background-color: rgba(225,255,255,0.5);
border-radius: 50%;
margin: 0 8px;
}
.entery .wrapper .pic ol li:hover {
box-shadow: 0 0 0 4px rgb(255,255,255,0.5);
background-color: #fff;
}
/* 新鲜好物模块 */
/* 新鲜好物头部模块 */
.box-hd {
display: flex;
justify-content: space-between;
align-items: center;
height: 112px;
}
.box-hd h2 {
font-size: 30px;
}
.box-hd small {
font-size: 16px;
color: #A1A1A1;
margin-left: 35px;
}
.box-hd a {
color: #A1A1A1;
}
/* 新鲜好物底部模块 */
.box-bd ul  {
display: flex;
justify-content: space-between;
align-items: center;
}
.box-bd ul li {
width: 304px;
height: 404px;
background-color: pink;
}
.box-bd ul li a {
display: block;
width: 100%;
height: 100%;
}
.box-bd ul li img {
width: 304px;
height: 304px;
}
.box-bd ul li .title {
margin: 18px 0 15px;
text-align: center;
font-size: 20px;
padding: 0 25px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.box-bd ul li .price {
text-align: center;
font-size: 22px;
color: #AA2113;
}
.box-bd ul li .price small {
color: #AA2113;
font-size: 18px;
}
/* 人气好物 */
.hot .desc {
font-size: 16px;
color: #A1A1A1;
text-align: center;
margin-top: 15px;
}
/* 热门品牌 */
.brand {
height: 468px;
background-color: #F5F5F5;
}
.brand .brand-hd .direction {
display: flex;
gap: 12px;
}
.brand .brand-hd .direction .left button,
.brand .brand-hd .direction .right button {
width: 20px;
height: 20px;
margin-top: 38px;
background-color: #00BE9A;
}
.brand .brand-bd ul {
display: flex;
justify-content: space-between;
align-items: center;
}
.brand .brand-bd ul li {
width: 244px;
height: 306px;
}
/* 生鲜模块 */
.food .food-title .option {
display: flex;
}
.food .food-title .option .option-left ul li a {
display: block;
width: 65px;
height: 20px;
text-align: center;
}
.food .food-title .option .option-right {
color: #A1A1A1;
margin-left: 65px;
}
.food .food-title .option .option-right a {
margin-right: 10px;
}
.food .food-title .option ul {
display: flex;
gap: 20px;
} 
.food .food-title .option ul li a{
color: black;
}
.food .food-title .option ul li a:hover {
color: #ffff;
background-color: #00BE9A;
}
.food .food-bd {
display: flex;
}
.food .food-bd .food-bd-left {
height: 610px;
width: 248px;
margin-right: 23px;
}
.food .food-bd .food-bd-right ul {
display: flex;
flex-wrap: wrap;
}
.food .food-bd .food-bd-right ul li{
flex: 1;
min-width: 242px;
width: 242px;
height: 305px;
padding: 12px 21px 0 21px;
}
.food .food-bd .food-bd-right ul li .info {
margin-top: 12px;
margin-bottom: 10px;
}
.food .food-bd .food-bd-right ul li .info p{
margin-top: 5px;
}
.food .food-bd .food-bd-right ul li .price {
display: flex;
color: #AF2F22;
}
.food .food-bd .food-bd-right ul li .price p {
font-size: 22px;
font-weight: 600px;
}
/* 最新专题 */
.special {
margin-top: 100px;
}
.special .special-title {
display: flex;
justify-content: space-between;
align-items: center;
}
.special .special-title h2{
font-size: 30px;
}
.special .special-title .special-more {
display: flex;
align-items: center;
}
.special .special-title .special-more a,
.special .special-title .special-more i {
display: block;
color: #A1A1A1;
} 
.special .special-title .special-more i {
margin-left: 13px;
} 
.special-bd {
margin-top: 30px;
margin-bottom: 40px;
}
.special-bd ul {
display: flex;
gap: 12px;
}
.special-bd ul li {
width: 405px;
height: 355px;
}
.special-bd ul li .info {
height: 67px;
display: flex;
justify-content: space-between;
align-items: center;
color: #666666;
padding: 0 15px;
}
.special-bd ul li .info .like {
margin-right: 20px;
}
